@media (min-width: 1920px) {
  .summary-content-wrapper {
    max-width: 1920px;
  }


}


@media (max-width: 1400px) and (min-width: 1150px) {

  .summary-content-wrapper {
    padding-left: 80px;
  }


}


@media (max-width: 1150px) and (min-width: 1000px) {
  .greeting-block {
    display: none;
  }


  .summary-content-wrapper {
    align-items: center;
  }


}


@media (max-width: 1000px) {
  .greeting-block {
    display: none;
  }


  .to-do-box,
  .done-box,
  .info-box-second-line,
  .all-tasks-box {
    border-radius: 20px;
    height: 140px;
  }


  .sep-line-third-box {
    height: 100px;
  }


  .all-tasks-box {
    width: 140px;
  }


  .main {
    display: flex !important;
    align-items: center;
  }


  .summary-page-title {
    margin-bottom: 16px;
  }


  .summary-header-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 40px;
  }


  .separation-line-summary {
    display: none;
  }


  .separation-line-summary-mobile {
    display: block;
  }


  .summary-content-wrapper {
    align-items: center;
  }


  .summary-main-wrapper {
    gap: 0;
    justify-content: center;
  }


  .summary-blocks-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


}


@media (max-width: 800px) {
  .summary-content-wrapper {
    padding-left: 0;
  }


  .summary-info-box,
  .summary-header-wrapper {
    padding-left: 48px;
  }
}


@media (max-width: 700px) {

  .summary-content-wrapper {
    padding-left: 0;
  }


  .summary-info-box {
    width: 500px;
  }


  .summary-info-box,
  .summary-header-wrapper {
    padding-left: 24px;
  }


  .to-do-box,
  .done-box {
    width: 45%;
  }


  .to-do-box,
  .done-box,
  .info-box-second-line,
  .all-tasks-box {
    border-radius: 20px;
    height: 130px;
  }


  .sep-line-third-box {
    height: 90px;
  }


}


@media (max-width: 600px) {

  .summary-info-box {
    width: 450px;
  }


  .to-do-box,
  .done-box,
  .info-box-second-line,
  .all-tasks-box {
    border-radius: 20px;
    height: 120px;
  }


  .sep-line-third-box {
    height: 80px;
  }


  .all-tasks-box {
    width: 120px;
  }
}


@media (max-width: 500px) {

  .summary-info-box {
    width: 400px;
  }
}


@media (max-width: 440px) {

  .summary-blocks-wrapper {
    width: 100%;
  }


  .summary-header-wrapper {
    gap: 16px;
    margin-bottom: 16px;
    padding: 0 16px;
  }


  .to-do-box,
  .done-box,
  .info-box-second-line,
  .all-tasks-box {
    border-radius: 20px;
    height: 110px;
  }


  .sep-line-third-box {
    height: 70px;
  }


  .info-box-second-line {
    gap: 30px;
  }


  .separation-line-summary-mobile {
    margin-top: 0;
  }


  .summary-main-wrapper {
    width: 100%;
  }


  .summary-info-box {
    width: 100%;
    padding: 0 16px;
    gap: 12px;
  }


  .summary-page-title {
    margin: 16px 0 0;
  }


  .all-tasks-box {
    width: 100px;
    height: 100px;
    gap: 0px;
  }


  .info-box-first-line,
  .info-box-third-line,
  .info-box-second-line {
    width: 100%;
  }


}